@font-face {
    font-family: 'TitleFont';
    src: url("resources/fonts/title-font/paladins.woff") format("woff");
}

@font-face {
    font-family: 'scifiFont';
    src: url("resources/fonts/subtitle-font/Alien-Androids.woff") format("woff");
}

@font-face {
    font-family: 'formFont';
    src: url("resources/fonts/form-font/Nau-Sea.woff") format("woff");
}

@font-face {
    font-family: 'buttonFont';
    src: url('resources/fonts/button-font/good-timing-bd.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh);
    box-sizing: border-box;
    background: #00001A;
}

.main-container {
    flex: auto;
    background-color: #482dc0;
    max-width: 960px;
    margin: auto;
    padding: 0;
    display: flex;
    border: 0 solid transparent;
    border-radius: 30px;
    overflow: hidden;
}

.left-image {
    flex: 1 1 0;
    background-image: url(resources/Loading.gif);
    background-size: cover;
}

.right-form {
    flex: 1.5 1 0;
    background: #482dc0;
    overflow: auto;
    margin: 10px;
}

.right-form h1, .right-form h2, .right-form h3 {
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    color: white;
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: black;
    font-family: scifiFont;
    font-size: normal;
}

.right-form :is(h2, h3) {
    letter-spacing: 0.15em;
}

.title > h1 {
    font-family: TitleFont;
    font-size: 3em;
}

.right-form hr {
    width: 80%;
    margin: 0 auto;
    border: 2px solid #F51BC8;
    border-radius: 10px;
}

input,
textarea,
select {
    display: block;
    width: 80%;
    margin: 0 auto;
    margin-top: 1em;
    border: 3px solid transparent;
    outline: 1px solid;
    padding: 3px 8px 3px 8px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 0.15em;
}

label {
    display: block;
    width: 80%;
    margin: 0 auto;
    margin-top: 1em;
    color: white;
    font-family: formFont;
    letter-spacing: 0.15em;
}

label > span {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

form > button {
    display: block;
    margin: 15px auto;
    margin-top: 2rem;
    padding: 5px;
    background-color: #ef65fc;
    border-radius: 5px;
    border: 1px solid;
    font-family: buttonFont;
    letter-spacing: 0.15em;
    font-size: 1.5em;
    
}

/*  Styling of input form elements when they are focused, unfocused,
    valid and invalid. */

input:focus {
    border: 3px solid #ef65fc;
    border-radius: 5px;
    outline: 0;

    box-shadow: 5px 5px 15px 1px rgba(22, 22, 22, 0.747);

    transition: box-shadow 0.3s, border 0.3s;
}

input:focus:invalid {
    border: 3px solid red;

    transition: box-shadow 0.3s, border 0.3s;
}

/* Interactive styling for the Create Character button */

form > button:hover {
    box-shadow: 0 0 1px 1px black;
    background-color: #da5ae6;
    
    transition: box-shadow 0.3s, background-color 0.3s;
}

form > button:active {
    background: #da5ae6;
    box-shadow: -0.5px 0.5px 2px 2px black;
    outline: 3px;
}

/* Lifepath table styling */

table {
    margin: 1em;
    border: 1px solid black;
    border-collapse: collapse;
    width: 80%;
    margin: 2rem auto;
    background: #8367ff;
    text-align: center;
  }
  
  table th,
  table td {
    border: 1px solid black;
    font: 1em formFont;
    color: white;
    letter-spacing: 0.15em;
  }

table tr + tr {
    display: flex;
}

form :is(th, td) {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

tr td {
    flex: 1;
    padding: 0;
}

/* Styling for the lifepath choice buttons */

form table tr td button {
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    font: 1em formFont;
    color: white;
    letter-spacing: 0.15em;
    background: #8367ff;
    border: 0;
}

/* Lifepath table interactive styling */

#blackhat > button:hover {
    background-color: black;
}

#blackhat > .selected {
    background-color: black;
}

#whitehat > button:hover {
    background-color: white;
    color: black;
}

#whitehat > .selected {
    background-color: white;
    color: black;
}

#vigilante > button:hover {
    background-color: silver;
    color: black;
}

#vigilante > .selected {
    background-color: silver;
    color: black;
}