* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh);
    box-sizing: border-box;
    background: #00001A;
}

.main-container {
    flex: auto;
    background-color: black;
    max-width: 960px;
    height: 540px;
    margin: auto;
    display: flex;
    border: 1px solid transparent;
    border-radius: 30px;
    overflow: hidden;
}

.left-image {
    flex: 1 1 0;
    background-image: url(resources/Loading.gif);
    background-size: cover;
}

.right-form {
    flex: 1.5 1 0;
    background: #482dc0;
}